@charset "utf-8";
img{
  width: 100%;
}
h1{
  font-size: 48px;
  padding-left: 180px;
  margin-top: -600px;
  letter-spacing: 0.3em;
  line-height: 1.5;
}
.name{
  font-size: 20px;
  padding-left: 180px;
  padding-bottom: 125px;
  letter-spacing: 0.6em;
}
h2{
  font-size: 44px;
  padding-left: 505px;
  padding-bottom: 60px;
  line-height: 2.2;
  letter-spacing: 130;
}
.profile_text{
  font-size: 18px;
  padding-left: 505px;
  padding-bottom: 100px;
  line-height: 2;
}
#history{
  padding: 86px;
}
.history{
  width: 15%;
}
h3{
  font-size: 16px;
  font-weight: bold;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
}
#history p{
  font-size: 16px;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
}
.history_item1{
  padding-top: 85px;
  padding-bottom: 85px;
  line-height: 1.5;
}
.history_item2{
  padding-bottom: 85px;
  line-height: 1.5;
}
.history_item3{
  padding-bottom: 85px;
  line-height: 1.5;
}
.history_item4{
  padding-bottom: 85px;
  line-height: 1.5;
}
.history_item5{
  padding-bottom: 85px;
  line-height: 1.5;
}
.history_item6{
  padding-bottom: 155px;
  line-height: 1.5;
}

#profile2{
  padding-left: 90px;
}
h4{
  color: #bfc4bf;
  font-size: 25px;
}
.skill span{
  border: solid;
  background-color: #252625;
  border: none;
  border-radius: 8px;
  padding: 20px 200px 20px 200px;
}
.skill{
  display: flex;
  gap: 127px;
}
.skill img{
  width: 3%;
  padding-top: 55px;
}
.strengths_item{
  display: flex;
  max-width: 400px;
  gap: 5px;
}
.favorite span{
  padding: 20px 80px;
}
.favorite_item{
  border: solid;
  border-color: #252625;
  height: 7px;
}
.copyright{
  margin-bottom: -130px;
  padding-left: 600px;
}