@charset "utf-8";
img{
  width: 100%;
}
#header{
  padding-left: 133px;
  padding-top: 95px;
}
.header_nav{
  display: flex;
  justify-content: space-between;
  max-width: 1366px;
  padding-bottom: 85px;
}
.header_nav ul{
  display: flex;
  gap: 92px;
  padding-top: 40px;
}
h1{
  width: 10%;
}
.designcafe_img{
width: 90%;
padding-left: 100px;
padding-bottom: 100px;
}
#designcafe h2{
  padding-left: 133px;
  padding-bottom: 120px;
  font-size: 35px;
}
.design{
  padding-bottom: 40px;
  padding-left: 133px;
}
.item{
  padding-left: 133px;
  padding-bottom: 10px;
}
.design_text{
  padding-left: 140px;
}
#designcafe p{
  padding-bottom: 120px;
  line-height: 2;
}
.designcafe_pic{
  width: 90%;
  padding-left: 150px;
}

#footer ul{
  display: flex;
  justify-content: center;
  gap: 98px;
  padding-bottom: 140px;
}
.copy{
  text-align: center;
  padding-bottom: 100px;
}