@charset "utf-8";
.header_inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2.7%;
  /*52/1920 = 0.02708 → 2.7%*/
  padding-right: 7.1%;
  /*138/1920 = 0.07187 → 7.1%*/
  position: absolute;
  width: 100%;
  z-index: 9997;
}
body{
  background-color: #e8d9bf;
}
.header_nav ul{
  display: flex;
  gap: 50px;
}
.header_nav li{
  color:  #fff;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
      "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

h1{
width: 227px;
}

.text {
  font-size: 30px;
  padding-top: 2.6% ;
  padding-bottom: 1.4%;
}

.text2 {
  font-size: 82px;
  padding: 1.4%; 
}
.text3 {
  font-size: 23px;
  padding-bottom: 8%;
  letter-spacing: 0.1em;
  line-height: 1.65;
}

section p {
  text-align: center;
  font-feature-settings: "palt";
}
.title1 img {
  height: 78px;
  width: auto;
}
.text4{
  font-size: 44px;
  text-align: left;
  margin-top: 8%;
  margin-bottom: 5%;
  line-height: 1.38;
}
.text5{
  text-align: left;
  line-height: 1.62;
}
.item {
  width: 50%;
  padding-right: 8%;
}
.aboutus {
  padding-bottom: 8%;
  align-items: center;
}
.aboutus-text{
  width: 50%;
}
.aboutus .flex-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutus .item > img{
  border-bottom-right-radius: 84px;
}
#menu img {
  border-top-right-radius: 41px;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}
h3 {
  color: crimson;
  font-size: 38px;
  padding-left: 30px;
  margin-top: -20px;
}

.menu1 {
  text-align: left;
  padding-top: 9.6%;
  line-height: 1.47;
  font-feature-settings: "palt";
}
#menu {
  padding-bottom: 8%;
}
#menu .title1 {
  padding-bottom: 5%;
}
#menu .title1,
#gallery .title1,
#event .title1,
#access .title1
{
  text-align: center;
}
#menu ul {
  display: flex;
  justify-content: center;
  border-top-right-radius: 20px;
  gap: 30px;
  max-width: 1920px;
  margin: 0 ;
  padding: 0;
}
#gallery ul {
  display: flex;
}
#gallery img {
  padding-bottom: 3%;
}
#event img {
  padding-top: 4%;
  padding-bottom: 3%;
}
.info ul {
  background-color: #fff;
  border: solid 2px #703508;
  max-width: 1000px;
  align-items: center;
  padding-top: 3%;
  padding-bottom: 3%;
  margin: auto;
}
.info li {
  display: flex;
  gap: 55px;
  font-size: 23px;
  max-width: 700px;
  margin: 0 auto;
}
.info-text {
  text-decoration-line: underline;
}
.info p {
  line-height: 1.95;
}
#access {
  padding-top: 3%;
}
iframe {
  height: 400px;
  filter: grayscale(100%) invert(92%) contrast(83%);
  padding-top: 3%;
}
.title2 img {
  height: 50px;
  gap: 30px;
  width: auto;
}
#designcafe {
  background-color: #fff;
  padding-top: 6%;
}
.footer-area {
  max-width: 1000px;
  display: flex;
  gap: 60px;
  margin: 0 auto;
}
.item-info ul {
  text-align: left;
}
.item-info li {
  line-height: 1.95;
}
.copy {
  height: 16px;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 6%;
}
.to-top img {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 125px;
}
.header_nav-sp {
  display: none;
  z-index: 9998;
}

@media screen and (max-width: 1100px){
  .header_nav{
    display: none;
  }
.humburger {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 9999;
  cursor: pointer;
  }
.humburger span{
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #fff;
  top: 50%;
  transition: 0.3s;
}
.humburger span::before{
    position: absolute;
  content: "";
  width: 30px;
  height: 2px;
  background-color: #fff;
  top: -10px;
  transition: 0.3s;
  }
  .humburger span::after{
    position: absolute;
  content: "";
  width: 30px;
  height: 2px;
  background-color: #fff;
  bottom: -10px;
  transition: 0.3s;
  }
}
.open span{
  background-color: transparent;
}
.open span::before{
  transform: rotate(45deg);
  top: 0;
}
.open span::after{
  transform: rotate(-45deg);
  bottom: 0;
}
.header_nav-sp{
  position: absolute;
  background-color: #00000090;
  width: 100%;
  height: 100vh;
  z-index: 9998;
}
.header_nav-sp ul{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.header_nav-sp li{
  color: #fff;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
  "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  font-weight: bold;
}
.text {
  font-size: 17px;
  padding-top: 2.6% ;
  padding-bottom: 1.4%;
  max-width: 100%;
}

.text2 {
  font-size: 38px;
  padding: 1.4%; 
}
.text3 {
  font-size: 16px;
  padding-bottom: 8%;
  letter-spacing: 0.1em;
  line-height: 1.65;
}
.aboutus-sp {
  display: none;
}

@media screen and (max-width: 767px){
  .aboutus {
    display: none;
  }
  .aboutus-sp {
    display: block;
  }
  .title1 {
    align-items: center;
  }
  .item {
    text-align: center;
    width:100%
  }

#menu ul {
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}
.menu1{
margin: 0 auto;
}
.info p {
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.info ul{
margin: 0 10px;
}
.info li{
  display: block;
  padding: 0 16px;
  font-size: 16px;
}
span {
  display: block
}
.item-info ul {
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
}
.footer-area{
  flex-direction: column;
}
.slick-dots {
  bottom: 0;
}
.slick-dots li button:before,
.slick-dots li.slick-active button:before{
  color: #fff;
}

